.about {
    text-align: center;
}

.about h1 {
    font-size: 2em;
    margin-bottom: 1em;
}

.about p {
    margin: 0 auto 1.5em;
    text-align: justify;
    max-width: 500px;
    line-height: 1.4;
}

@media (min-width:280px) and (max-width: 450px) {
    .about p {
        margin: 1.2em;
        line-height: 1.2;
    }
}